<div class="container-fluid g-0">
    <app-header></app-header>
    <main>
        <app-side-nav></app-side-nav>
        <div class="display-area p-3">
            <button type="button" class="btn btn-primary" style=" margin-bottom: 10px; " data-bs-toggle="modal" data-bs-target="#addModal" data-bs-whatever="@mdo">+</button>
            <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th> # </th>
                              <th> Username </th>
                              <th> Role </th>
                              <th> Status </th>
                              <th> Actiions </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let users of users">
                              <td scope="row"> {{users.id}} </td>
                              <td> {{users.username}} </td>
                              <td> {{users.role}} </td>
                              <td> {{users.status}} </td>
                              <td> 
                                <!-- <i class="fas fa-eye fa-lg text-success mr-2" ></i> -->
                                <i class="fas fa-edit fa-lg text-info mr-2" data-bs-toggle="modal" data-bs-target="#updateModal" (click)="getId(users.id)"></i>
                                <i class="fas fa-trash-alt fa-lg text-danger" (click)="deleteData(users.id)"></i>
                                </td>
                              
                            </tr>
                            
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              
              </div>
              
        </div>
    </main>

    
</div>
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Nouvelle Information</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="usersForm">
            <div class="row g-3">
              <div class="col-auto">
                <label  class="col-form-label">Username</label>
                <input type="text" class="form-control"  formControlName="username">
              </div>
              <div class="col-auto">
                <label class="col-form-label">Password</label>
                <input type="password" class="form-control"  formControlName="password">
              </div>
              <div class="col-auto">
                <label  class="col-form-label">Role</label>
                <select class="form-control" formControlName="role" >
                    <option>Admin</option>
                    <option>Agent</option>
                    <option>Officer</option>
                </select>
              </div>
              
            </div>
            
            <div class="modal-footer">
              <!-- data-bs-dismiss="modal" -->
              <button type="reset" class="btn btn-secondary">Reset</button>
              <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal" (click)="addData()">Ajouter</button>
            </div>
            
          </form>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Nouvelle Information</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="updateusersForm">
            <div class="row g-3">
              <div class="col-auto">
                <label  class="col-form-label">Username</label>
                <input type="text" class="form-control"  formControlName="username">
              </div>
              <div class="col-auto">
                <label class="col-form-label">Password</label>
                <input type="password" class="form-control"  formControlName="password">
              </div>
              <div class="col-auto">
                <label  class="col-form-label">Role</label>
                <select class="form-control"  formControlName="role" >
                    <option>Admin</option>
                    <option>Agent</option>
                    <option>Officer</option>
                </select>
              </div>

              <div class="col-auto">
                <label  class="col-form-label">Status</label>
                <select class="form-control"  formControlName="status" >
                    <option>Active</option>
                    <option>Desactiver</option>
                </select>
              </div>
              
            </div>
            
            <div class="modal-footer">
              <!-- data-bs-dismiss="modal" -->
              <button type="reset" class="btn btn-secondary">Reset</button>
              <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal" (click)="updateData()">Modifier</button>
            </div>
            
          </form>
        </div>
        
      </div>
    </div>
  </div>