<div class="row" style="margin-top: 150px;">
    <div class="col">

    </div>
    <div class="col">
        <img src="assets/logo.png" style="margin-left: 40px;"><br>
        <label>Username</label>
        <input type="text" class="form-control" id="recipient-name" #username>
        <label>Password</label>
        <input type="password" class="form-control" id="recipient-name" #password>
        <button type="button" class="btn btn-secondary" style="margin-top: 20px;" (click)="auth.login(username.value,password.value)"> Connexion</button>

    </div>
    <div class="col">

    </div>
</div>