<div class="container-fluid g-0">
    <app-header></app-header>
    <main>
        <app-side-nav></app-side-nav>
        <div class="display-area p-3">
            <div class="row justify-content-md-center">
                <div class="col">
                    <label>Noms Complet</label>
                    <input type="text" class="form-control" id="recipient-name" [(ngModel)]="text">
                    <button type="button" class="btn btn-primary" style="margin-top: 20px;" (click)="loadData()"> Rechercher</button>

                    <ng-container *ngIf="state">
                        <div class="col grid-margin stretch-card" style="margin-top: 10px;">
                            <div class="card">
                              <div class="card-body">
                                <div class="table-responsive">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th> # </th>
                                        <th> Noms complet </th>
                                        <th> Motif </th>
                                        <th> Officier </th>
                                        <th> Date </th>
                                        <th> Actions </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let casiers of casiers">
                                        <td scop="row"> {{casiers.id}} </td>
                                        <td> {{casiers.noms}} </td>
                                        <td> {{casiers.motif}} </td>
                                        <td> {{casiers.officier}} </td>
                                        <td> {{casiers.date}} </td>
                                        <td> 
                                            <i class="fas fa-eye fa-lg text-success mr-2" ></i>
                                            </td>
                                      </tr>
                                      
                                      
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                    </ng-container>
                </div>
                <div class="col">
                    <img src="assets/permis.jpg" width="600px">
                    <button type="button" class="btn btn-danger" style="margin-top: 20px; margin-left: 260px;"> Imprimer</button>
                </div>

            </div>
        </div>
    </main>

    
</div>