<div class="container-fluid g-0">
    <app-header></app-header>
    <main>
        <app-side-nav></app-side-nav>
        
        <div class="display-area p-3">
            <div class="row justify-content-md-center">
                <div class="col">

                  <button class="btn btn-danger" style="margin-top: 20px;" printSectionId="listePrint" ngxPrint> Imprimer</button>
                  
                    <ng-container *ngIf="state">
                        <div class="col grid-margin stretch-card" style="margin-top: 10px;">
                            <div class="card" id="listePrint">
                              <div class="card-body">
                                <div class="table-responsive" >
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th> # </th>
                                        <th> Noms complet </th>
                                        <th> Departement </th>
                                        <th> Date </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let casiers of casiers">
                                        <td scop="row" *ngIf="casiers.status=='Approuvee' "> {{casiers.id}} </td>
                                        <td *ngIf="casiers.status=='Approuvee' "> {{casiers.noms}} </td>
                                        <td *ngIf="casiers.status=='Approuvee' "> {{casiers.departement}} </td>
                                        <td *ngIf="casiers.status=='Approuvee' "> {{casiers.date}} </td>
                                        
                                      </tr>
                                      
                                      
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                    </ng-container>
                </div>

            </div>
        </div>
    </main>

    
</div>