<p>dashboard works!</p>
<div class="container-fluid g-0">
    <app-header></app-header>
    <main>
        <app-side-nav></app-side-nav>
        <div class="display-area p-3">
        

            <div class="card-group">
                <div class="card  text-white bg-primary mb-3" style="width: 18rem;">
                    <p class="fa-solid fa-users-line"></p>
                    <div class="card-body">
                      <h1 class="card-title h12">{{individus}}</h1>
                      <h2 class="card-text p12">Individus</h2> 
                    
                    </div>
                </div>
    
                <div class="card text-dark bg-warning mb-3" style="width: 18rem;">
                    <p class="fa-solid fa-folder"></p>
                    <div class="card-body">
                      <h1 class="card-title h12">{{casiers}}</h1>
                      <h2 class="card-text p12">Casiers</h2>
                    </div>
                </div>
    
                <div class="card text-white bg-success mb-3" style="width: 18rem;">
                   
                    <p class="fa-solid fa-user"></p>
                    <div class="card-body">
                      <h1 class="card-title h12">{{users}}</h1>
                      <h2 class="card-text p12">Users</h2>
                      
                    </div>
                </div>
            </div>

            <img src="">

            <h1 style="text-align: center; font-size: 60px; font-style: normal oblique; margin-top: 20px;">GESTION CASIERS 2023</h1>


        </div>
    </main>
</div>